services:
  crawl4ai:
    image: unclecode/crawl4ai:latest
    container_name: crawl4ai
    restart: unless-stopped
    networks:
      - crawl4ai
    environment:
      - CRAWL4AI_API_KEY=${CRAWL4AI_API_KEY:-}
    ports:
      - "3100:11235"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:11235/health"]
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 20s

networks:
  crawl4ai:
    driver: bridge


